body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 45px;
}

.donate {
    background-image: url(images/donation13.jpg);
    background: linear-gradient();
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
    margin-bottom: 100px;

}

#heading01 {
    padding-bottom: 5%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 99, 71, 0.822), rgba(255, 0, 0, 0.596));
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 100%;
    color: aliceblue;
}

.donate-amount {
    text-align: center;
    margin-bottom: 150px;
    padding-top: 50px;
}

.amount {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.tk {
    background-color: rgb(241, 226, 226);
    padding: 30px 10px;
    margin: 10px;
    border-radius: 5px;
}

#pay {
    background-image: linear-gradient(rgba(235, 164, 164, 0.829), rgb(223, 124, 124));

}

#other-amount {
    color: rgb(223, 124, 124);
    padding: 2px;
    margin-bottom: 20px;
}

#heading02 {
    text-align: center;
}


.fse {
    float: left;
    width: 20%;
    padding: 3% 3% 3% 2%;
    margin-bottom: 50px;

}

#food {
    background-color: rgba(213, 241, 232, 0.726);
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 10%;
}

#shelter {
    background-color: rgba(247, 223, 223, 0.637);
    border-radius: 5px;
    margin-right: 15px;
}

#education {
    background-color: rgb(240, 225, 207);
    border-radius: 5px;
    margin-right: 10%;
}

#last-heading {
    text-align: center;
}

.from {
    display: flex;
    background-color: rgb(247, 243, 189);
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    margin-bottom: 100px;


}

#email {
    font-size: 20px;
    color: gray;
}

#subscribe {
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 7px 15px;
    margin: 0%;
    border: 0ch;

}

footer {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0%;
    font-family: 'Pacifico', cursive;
    background-color: black;
    height: 120px;

}

footer h2 {
    padding-top: 20px;
    color: red;
}

footer p {
    color: white;
    padding-bottom: 10px;
}

#div-footer {
    height: 100%;
}